project_id                      = "advana-fd-jv7-02261522"
region                          = "us-central1"
artifact_registry_repository_id = "flight-delay-predictor"
cloud_run_service_name          = "flight-delay-predictor-api"
image_uri                       = "us-central1-docker.pkg.dev/advana-fd-jv7-02261522/flight-delay-predictor/flight-delay-api:b20ac6d-amd64"
model_artifact_path             = "data/model.skops"
container_port                  = 8080
cloud_run_min_instance_count    = 0
cloud_run_max_instance_count    = 2
cloud_run_service_min_instance_count = 0
cloud_run_manual_instance_count = 0
allow_unauthenticated           = true
